$primary-color: #181824; // Change the primary color to #181824

.navbar {
  background-color: $primary-color;

  .navbar-brand {
    color: #fff;
  }

  .nav-link {
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.3s ease;

    &:hover {
      color: #fff;
    }
  }
}
