{% load static %}

<form
  action="slack_message"
  class="border-right pr-5 mb-5"
  id="slack_message_form"
  name="slack_message_form"
  method="POST"
  class="login-form"
>
  {% csrf_token %}

  <div class="row">
    {% if all_groups %}
    <div class="col-md-12 form-group">
      <select class="form-control" name="group_name" id="group_name">
        <option value="" selected disabled>Select Group</option>
        {% for group in all_groups %}
        <option value="{{ group.name }}">{{ group.name }}</option>
        {% empty %}
        <option value="" disabled>No Groups Available</option>
        {% endfor %}
      </select>
    </div>
    {% else %}
    <div class="col-md-12">
      <p>
        No group is added. Please create one
        <a href="{% url 'user_setting:settings' %}">here</a>.
      </p>
    </div>
    {% endif %}
  </div>

  <div class="row">
    <div class="col-md-12 form-group">
      <textarea
        class="form-control"
        name="message"
        id="message"
        rows="5"
        placeholder="Message"
        required
      ></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button
        type="submit"
        id="send_message_button"
        class="btn btn-primary rounded-0 py-2 px-4"
      >
        Send Message
      </button>
      <span class="submitting"></span>
    </div>
  </div>

  <!-- printing messages on UI in case of any mis-infor -->
  <div class="message-text" id="message-text">
    {% for message in messages %}
    <span>{{message}}</span>
    {% endfor %}
  </div>
</form>
