{% load static %}

<section class="py-5 my-5">
  <div class="container">
    <a href="{% url 'home' %}" class="btn btn-light back-button">
      <i class="fa fa-arrow-left"></i>
    </a>
    <span class="button-text">Account Settings</span>

    <div class="bg-white shadow rounded-lg d-block d-sm-flex">
      {% include "setting_components/nav_bar.html" %}
      <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
        {% include "setting_components/account_setting.html" %}
        <!---->
        {% include "setting_components/password.html" %}
        <!---->
        {% include "setting_components/automation_cred.html" %}
        <!---->
        {% include "setting_components/slack_group.html" %}
        <!---->
        {% include "setting_components/notification.html" %}
        <!---->
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
