{% load static %}

<!DOCTYPE html>
<script>
  var pipelineDetailUrl = "{% url 'get_pipeline_detail' %}";
</script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{% static '/javascript_funs/issue_analyzer.js' %}"></script>

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Analytics Dashboard</title>
    <link rel="stylesheet" href="{% static 'issue_analyzer/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Analytics Dashboard</a>
      <form class="form-inline ml-auto" id="dashboard-form">
        {% csrf_token %}
        <div class="form-group">
          <input
            type="text"
            class="form-control mr-2"
            placeholder="Pipeline Number"
            name="pipelineNumber"
          />
        </div>
        <div class="form-group">
          <select class="form-control mr-2" name="cluster">
            <option value="">Select Cluster</option>
            <option value="us">us</option>
            <option value="s-denji">s-denji</option>
          </select>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control mr-2"
            placeholder="Account Name"
            name="accountName"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </nav>

    <style>
      .col-md-3 {
        max-width: 19%; /* Change the value as per your requirement */
      }
    </style>

    <!-- Rest of your HTML content -->
    <div class="row">
      <div class="col-md-3" id="result-container-1"></div>
      <div class="col-md-6">
        <div class="col-md-12" id="place-1"></div>
        <!-- Other HTML content goes here -->
      </div>

      <div class="col-md-12" style="height: 10px"></div>

      <div class="col-md-3" id="result-container-2"></div>
      <div class="col-md-6">
        <div class="col-md-12" id="place-2"></div>
        <!-- Other HTML content goes here -->
      </div>

      <div class="col-md-12" style="height: 10px"></div>

      <div
        class="col-md-3"
        id="result-container-3"
        style="margin-left: 10px; display: none"
      >
        <div class="content">
          <input type="checkbox" name="handyman" value="true" />
          <label style="margin-left: 5px">Handyman</label><br />
          <input type="checkbox" name="sideline" value="true" />
          <label style="margin-left: 5px">Sideline</label><br />
          <input type="checkbox" name="sink" value="true" />
          <label style="margin-left: 5px">Sink</label><br />
          <input type="checkbox" name="grafana" value="true" />
          <label style="margin-left: 5px">Grafana</label><br />
          <input type="checkbox" name="connector" value="true" />
          <label style="margin-left: 5px">Connector</label><br />
        </div>
      </div>

      <div class="col-md-6">
        <div class="col-md-12" id="place-3"></div>
        <!-- Other HTML content goes here -->
      </div>

      <div class="col-md-12" style="height: 10px"></div>

      <div class="col-md-3">
        {% csrf_token %}
        <button
          class="btn btn-primary"
          id="submit-tables"
          style="display: none; margin-left: 10px"
        >
          Submit
        </button>
      </div>
    </div>
  </body>
</html>
