{% comment %}
<form method="POST" action="settings_fun_calls">
  {% csrf_token %}
  <input type="hidden" name="update_zendesk" value="update_zendesk" />

  <div class="form-group">
    <label for="param1">Parameter 1:</label>
    <input
      type="text"
      name="param1"
      id="param1"
      required
      class="form-control"
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endcomment %}

<div class="input-container" style="">
  <div><span>POST request failed, please try again!</span></div>
</div>

<div class="col-md-3" id="result-container-1">
  <div class="col-12 table table-bordered-custom">
    <div class="table-responsive" style="max-height: 200px; overflow-y: auto">
      <table
        class="table table-striped table-hover table-sm"
        style="width: 300px"
      >
        <thead>
          <tr>
            <th></th>
            <th>Source Tables</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="checkbox" name="selected_objects" value="dept_emp" />
            </td>
            <td>dept_emp</td>
          </tr>
          <tr>
            <td>
              <input
                type="checkbox"
                name="selected_objects"
                value="dept_manager"
              />
            </td>
            <td>dept_manager</td>
          </tr>
          <tr>
            <td>
              <input
                type="checkbox"
                name="selected_objects"
                value="departments"
              />
            </td>
            <td>departments</td>
          </tr>
          <tr>
            <td>
              <input
                type="checkbox"
                name="selected_objects"
                value="shivanshu_fruit"
              />
            </td>
            <td>shivanshu_fruit</td>
          </tr>
          <tr>
            <td>
              <input
                type="checkbox"
                name="selected_objects"
                value="test_data_nifi"
              />
            </td>
            <td>test_data_nifi</td>
          </tr>
          <tr>
            <td>
              <input
                type="checkbox"
                name="selected_objects"
                value="man_snap_metros"
              />
            </td>
            <td>man_snap_metros</td>
          </tr>
          <tr>
            <td>
              <input
                type="checkbox"
                name="selected_objects"
                value="check_snap_schema_regions"
              />
            </td>
            <td>check_snap_schema_regions</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" name="selected_objects" value="regions" />
            </td>
            <td>regions</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
