{% comment %}
<form method="POST" action="settings_fun_calls">
  {% csrf_token %}
  <input type="hidden" name="update_zendesk" value="update_zendesk" />

  <div class="form-group">
    <label for="param1">Parameter 1:</label>
    <input
      type="text"
      name="param1"
      id="param1"
      required
      class="form-control"
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endcomment %}

<div class="input-container" style="">
  <label>Desired cities to work in?</label>
  <select
    name="preferred_cities"
    id="id_preferred_cities"
    multiple="multiple"
    tabindex="-1"
    class="selectized"
    style="display: none"
    required="required"
  >
    <option value="2" selected="selected">Bangalore</option>
    <option value="3" selected="selected">Delhi NCR</option>
  </select>
  <div class="selectize-control multi plugin-remove_button">
    <div class="selectize-input items not-full has-options has-items">
      <div class="item" data-value="2">
        Bangalore<a
          href="javascript:void(0)"
          class="remove"
          tabindex="-1"
          title="Remove"
          >×</a
        >
      </div>
      <div class="item" data-value="3">
        Delhi NCR<a
          href="javascript:void(0)"
          class="remove"
          tabindex="-1"
          title="Remove"
          >×</a
        >
      </div>
      <input
        type="select-multiple"
        autocomplete="new-password"
        autofill="no"
        tabindex=""
        id="id_preferred_cities-selectized"
        style="width: 4px; opacity: 1; position: relative; left: 0px"
      />
    </div>
    <div
      class="selectize-dropdown multi plugin-remove_button"
      style="
        display: none;
        visibility: visible;
        width: 450px;
        top: 41px;
        left: 0px;
      "
    >
      <div class="selectize-dropdown-content" tabindex="-1">
        <div class="option" data-selectable="" data-value="1">Mumbai</div>
        <div class="option" data-selectable="" data-value="7">Hyderabad</div>
        <div class="option" data-selectable="" data-value="8">Pune</div>
        <div class="option" data-selectable="" data-value="9">Chennai</div>
        <div class="option" data-selectable="" data-value="26">Goa</div>
        <div class="option" data-selectable="" data-value="35">Kochi</div>
      </div>
    </div>
  </div>
</div>
