{% extends "components/app_base.html" %}

<!--  -->
{% block title %} Update Zendesk {% endblock %}

<!--  -->
{% block content %}
<div class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row align-items-center">
          <div class="col-lg-7 mb-5 mb-lg-0">
            <h3 class="mb-5">
              Add Zendesk ID and the Tag and click on Update Zendesk.
            </h3>
            {% include "components/zendesk_app_form.html" %}
            <div id="form-message-warning mt-4"></div>
            <div id="form-message-success">
              Your message was sent, thank you!
            </div>
          </div>
          <div class="col-lg-4 ml-auto">
            <h3 class="mb-4">What this do!</h3>
            <p>
              This function will update the zendesk ticket with tag list and
              custom_fields.
            </p>
            <p><a href="#">Read more</a></p>
            <h3 class="mb-4">User Setting</h3>
            <p>
              To add new key please check
              <a href="{% url 'user_setting:settings' %}">here</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
